.nav-tab{
    background:#fff;
    position:fixed;
}
.nav-tab:before{
    border-top: 1px solid #eee;
}
.nav-tab .weui-tabbar__item:nth-child(1) .weui-tabbar__icon {
    background:url('../img/icon_index.png') no-repeat center center;
    background-size: 100%;
}
.nav-tab .weui-tabbar__item:nth-child(2) .weui-tabbar__icon {
    background:url('../img/icon_fl.png') no-repeat center center;
    background-size: 100%;
}
.nav-tab .weui-tabbar__item:nth-child(3) .weui-tabbar__icon {
    background:url('../img/icon_everyday.png') no-repeat center center;
    background-size: 100%;
}
.nav-tab .weui-tabbar__item:nth-child(4) .weui-tabbar__icon {
    background:url('../img/icon_yhq.png') no-repeat center center;
    background-size: 100%;
}
.nav-tab .weui-tabbar__item:nth-child(5) .weui-tabbar__icon {
    background:url('../img/icon_my.png') no-repeat center center;
    background-size: 100%;
}
.nav-tab  .weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{
    color:red;
}
.nav-tab .weui-tabbar__item:nth-child(1).weui-bar__item--on .weui-tabbar__icon {
    background:url('../img/icon_index_r.png') no-repeat center center;
    background-size: 100%;
}
.nav-tab .weui-tabbar__item:nth-child(2).weui-bar__item--on .weui-tabbar__icon {
    background:url('../img/icon_fl_r.png') no-repeat center center;
    background-size: 100%;
}
.nav-tab .weui-tabbar__item:nth-child(3).weui-bar__item--on .weui-tabbar__icon {
    background:url('../img/icon_everyday_r.png') no-repeat center center;
    background-size: 100%;
}
.nav-tab .weui-tabbar__item:nth-child(4).weui-bar__item--on .weui-tabbar__icon {
    background:url('../img/icon_yhq_r.png') no-repeat center center;
    background-size: 100%;
}
.nav-tab .weui-tabbar__item:nth-child(5).weui-bar__item--on .weui-tabbar__icon {
    background:url('../img/icon_my_r.png') no-repeat center center;
    background-size: 100%;
}