
<footer class="footer">
      <div class="container">
        <div class="row footer-top">
            <p>本网站所列开源项目的中文版文档全部由成员翻译整理，并全部遵循 协议发布。</p>
          </div>
      </div>
</footer>
</body>
</html>
